<footer>
    <div class="container">
        <div class="col-md-12">
            <p>&copy; Design <a title="mcn" href="#"> MCN 2015</a></p>
            <div class="space20"></div>
            <ul  class="circleSocial">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
        </div><!-- col-md-12 end -->
    </div><!-- container end -->
</footer>
<div class="clearfix"></div>