<!-- Header -->
<nav class="navbar navbar-custom navbar-top navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container-fluid">
        <a class="page-scroll btn-new btn-bold pull-right" href="#download">Buy </a>
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- LOGO -->
            <a class="navbar-brand nav-logo" href="#page-top">
                <%= image_tag "dark-logo.png" %>
            </a>
        </div>
        <!-- NAVIGATION LINKS -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" href="#firstFeature">Features </a></li>
                <li><a class="page-scroll" href="#screenshots">Screenshots </a></li>
                <li><a class="page-scroll" href="#team">Team</a></li>
                <li><a class="page-scroll" href="#plans">Plans</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
</nav>